body,p,span{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,a{
    font-family: 'Rubik', sans-serif;
}
img{
    max-width: 100%;
}

.grybg{
    background-color: #f9fafb;
}

/*  Begain Custom Style  */
.main-header .container-fluid,
.slider-section .container-fluid{
    max-width: 1480px;
}
body .btn-primary {
    background-color: #e73a3e !important;
    border-color: #e73a3e;
    padding: 10px 40px;
    font-size: 16px;

    position: relative;
    z-index: 1;
}
body .btn-primary:hover{
    border-color: #111;
}
body .btn-primary::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #111;
    border-color: #111;

    z-index: -1;
    transition: .3s;
}
body .btn-primary:hover::after{
    width: 100%;
}

/* Menu */

ul.our-primary-menu{}
ul.our-primary-menu li{}
ul.our-primary-menu li a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    color: #111;
    font-weight: 500;
}
ul.our-primary-menu li a:hover{}

/*  DropDown Menu CSS  */
ul.our-primary-menu li{
    position: relative;
}
ul.our-primary-menu li ul{
    position: absolute;
    width: 300px;
    left: 0;
    top: 160%;
    background: #fafafa;
    list-style: none;
    padding: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
}
ul.our-primary-menu li ul li{
    flex-direction: column;
}
ul.our-primary-menu li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 120%;
}

ul.our-primary-menu li ul li a{}

.header-info{}
.header-search {
    width: 60px;
    font-size: 22px;
    text-align: center;
    margin-right: 20px;
    border-right: 1px solid #ddd;
}
.header-call{
    width: 220px;
}
.header-call-icon {
    font-size: 33px;
    color: #e73a3e;
}
.header-call-info span{
    color: #606060;
}
.header-call-info a{
    font-weight: 500;
    color: #111;
    text-decoration: none;
    font-size: 18px;
}
.header-button{}
a.logo {
    font-size: 34px;
    font-weight: 700;
    color: #e73a3e !important;
}



/* <!-- Page title area --> */

.page-title-area.item-bg-4 {
    background-image: url('../images/slider2.jpg');
}

.page-title-area {
    position: relative;
    z-index: 1;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    background-attachment: fixed;
}
.page-title-area::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .77;
}
.d-table {
    width: 100%;
    height: 100%;
}
.d-table-cell {
    vertical-align: middle;
}
.page-title-content {
    text-align: center;
    margin-top: -10px;
}
.page-title-content h2 {
    margin-bottom: 0;
    color: #111;
    font-family: roboto,sans-serif;
    font-size: 48px;
    font-weight: 500;
}
.page-title-content ul {
    padding-left: 0;
    list-style-type: none;
    margin-top: 12px;
    margin-bottom: 0;
        text-align: center;
}
.page-title-content ul li {
    color: #606060;
    display: inline-block;
    position: relative;
    font-family: rubik,sans-serif;
    font-weight: 500;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
    list-style-type: none;
}
.page-title-content ul li::before {
    position: absolute;
    right: -14px;
    top: 5px;
    width: 1px;
    content: '';
    height: 18px;
    background-color: #606060;
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}
.page-title-content ul li a {
    display: inline-block;
    color: #e73c3e;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
}


/* <!--End Page title area --> */



.services-tab-item {
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 40px !important;
}
.services-tab-item li{
    flex: 1 1 auto;
}
.services-tab-item li a.active span i {
    color: red;
}
.services-tab-item li a.active{
    position: relative;
}
.services-tab-item li a.active::after{

}
.services-tab-item li a span i {
    background: #fff;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    line-height: 80px;
    font-size: 30px;
    color: #666;
}
.services-tab-item li a strong {
    color: #222;
    font-weight: 600;
    font-size: 20px;
}

.serives-tab-content-text{}
.serives-tab-content-text ul{
    list-style: none;
    padding-left: 0;
}

.serives-tab-content-text ul li::before {

    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    margin-right: 12px;

}











/*  Footer CSS  */
.footer{
    background-color: #111111;
    color: #fff;
}
.footer-widget h3 {
    font-size: 22px;
    border-bottom: 1px solid #444;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.footer-widget ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
.footer-widget ul li {
    margin: 10px 0;
}
.footer-widget ul li a {
    text-decoration: none;
    transition: .4s;
}
.footer-widget ul li a:hover{
    letter-spacing: 1.5;
    color: red;
}
.footer-top{
    border-bottom: 1px solid #444;
}
.footer a{
    color: #fff;
}

/*  Footer Social  */
.widget-social{}
.widget-social ul{
    display: flex;
}
.widget-social ul li{
    padding: 10px 0;
    margin: 0 !important;
}
.widget-social ul li span {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
}
.widget-social ul li a {
    font-size: 20px;
    padding: 10px 10px;
}


.footer-copyright p{
    margin-bottom: 0;
}

.footer-contact{}
.footer-contact-item {
    margin-bottom: 20px;
}
.footer-contact-item span {
    display: inline-block;
    margin-right: 15px;
    font-size: 20px;
}
.footer-contact-item span i{}
.footer-contact-item a {
    text-decoration: none;
}






















