body,p,span{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,a{
    font-family: 'Rubik', sans-serif;
}
img{
    max-width: 100%;
}

.grybg{
    background-color: #f9fafb;
}

/*  Begain Custom Style  */
.main-header .container-fluid,
.slider-section .container-fluid{
    max-width: 1480px;
}
body .btn-primary {
    background-color: #e73a3e !important;
    border-color: #e73a3e;
    padding: 10px 40px;
    font-size: 16px;

    position: relative;
    z-index: 1;
}
body .btn-primary:hover{
    border-color: #111;
}
body .btn-primary::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #111;
    border-color: #111;

    z-index: -1;
    transition: .3s;
}
body .btn-primary:hover::after{
    width: 100%;
}

/* Menu */

ul.our-primary-menu{}
ul.our-primary-menu li{}
ul.our-primary-menu li a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    color: #111;
    font-weight: 500;
}
ul.our-primary-menu li a:hover{}

/*  DropDown Menu CSS  */
ul.our-primary-menu li{
    position: relative;
}
ul.our-primary-menu li ul{
    position: absolute;
    width: 300px;
    left: 0;
    top: 160%;
    background: #fafafa;
    list-style: none;
    padding: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
}
ul.our-primary-menu li ul li{
    flex-direction: column;
}
ul.our-primary-menu li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 120%;
}

ul.our-primary-menu li ul li a{}

.header-info{}
.header-search {
    width: 60px;
    font-size: 22px;
    text-align: center;
    margin-right: 20px;
    border-right: 1px solid #ddd;
}
.header-call{
    width: 220px;
}
.header-call-icon {
    font-size: 33px;
    color: #e73a3e;
}
.header-call-info span{
    color: #606060;
}
.header-call-info a{
    font-weight: 500;
    color: #111;
    text-decoration: none;
    font-size: 18px;
}
.header-button{}
a.logo {
    font-size: 34px;
    font-weight: 700;
    color: #e73a3e !important;
}


/*  Slider / Banner CSS  */
.slider-section{
    background: url(../images/slider2.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
.slider-content-wrap{
    height: 90vh;
    display: flex;
    align-items: center;
    position: relative;
}

.slider-content h6{
    font-size: 20px;
    font-weight: 600;
    color: #0e0c0c;
}
.slider-content h1 {
    font-size: 66px;
    margin-top: 25px;
    margin-bottom: 20px;
    font-weight: 700;
}
.slider-content p{
    font-weight: 400;
    line-height: 1.2em;
    color: #606060;
    font-size: 28px;
}

.header-social{
    position: absolute;
    bottom: 0;
    left: 0;
}
.header-social ul{
    list-style: none;
    padding-left: 0;
}
.header-social ul li{}
.header-social ul li span {
	font-size: 18px;
	display: inline-block;
	margin-right: 50px;
	position: relative;
}
.header-social ul li span::after {
    content: "";
    height: 1px;
    background: #111;
    width: 35px;
    position: absolute;
    right: -45px;
    top: 51%;
}
.header-social ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 0 14px;
    color: #111;
    font-size: 19px;
}

/* About section */
.pad_tb_120 {
    padding: 120px 0 0 0;
}
.about_image {
    position: relative;
}
.about-section img {
    max-width: 100%;
    height: auto;
}
.about_image img:last-child {
    position: absolute;
    top: 0px;
    margin-top: 210px;
    width: 357px;
    right: 0px;
    border: 10px solid #fff;
    margin-right: 20px;
}
.about-section .base-header {
    text-align: left;
    padding-bottom: 1px;
}
.base-header {
    padding-bottom: 32px;
    width: 100%;
    text-align: center;
}
.base-header span {
    color: #e73a3e;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    line-height: 1em;
}
.base-header span .bor_header {
    position: relative;
    display: inline-block;
    height: 3px;
    background: #e73a3e;
    width: 40px;
    border-radius: 43px;
    margin-left: 20px;
    margin-right: 40px;
    top: -3px;
}
.about-section small {
    font-size: 80%;
    font-weight: 400;
}
.base-header span .bor_header:before, .base-header span .bor_header:after {
    content: " ";
    width: 4px;
    height: 4px;
    position: absolute;
    right: -10px;
    background: #e73a3e;
    border-radius: 50%;
    top: 0;
}
.base-header span .bor_header:before, .base-header span .bor_header:after {
    content: " ";
    width: 4px;
    height: 4px;
    position: absolute;
    right: -10px;
    background: #e73a3e;
    border-radius: 50%;
    top: 0;
}
.base-header span .bor_header:after {
    right: -20px;
}
.base-header h3 {
    margin-top: 20px;
    line-height: 1.2em;
    color: #1a2940;
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 700;
}

.about_text_block p {
    color: #656565;
    line-height: 1.8em;
    margin-bottom: 15px;
    margin: 1em 0;
}
.about_box_list {
    position: relative;
    margin-top: 40px;
}
.about_box_list i {
    position: absolute;
    top: 4px;
}
.about_box_list p {
    padding-left: 75px;
    font-size: 18px;
    line-height: 26px;
    color: #222222;
    font-weight: 400;
    top: 0px;
    margin-top: -4px;
}
.about_text_block a{
    color: #111;
}

.read_btn {
    font-size: 16px;
    font-weight: 500;
    margin-top: 35px;
    position: relative;
    display: inline-block;
    text-decoration: none;

}
@media (max-width: 991px){
.about_image img:last-child {
    display: none;
}}
@media (max-width: 1199px){
.about_image img:last-child {
    margin-top: 258px;
}}


/* another section */
.promo-item {
    background: #f6f8fa;
    margin-bottom: 30px;
    padding: 84px 40px 42px 40px;
    text-align: center;
}
/* .promo-item::before {
    position: absolute;
    content: '';
    left: 15px;
    bottom: 30px;
    height: 3px;
    width: 0px;
    background-color: #fda12b;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
} */
.promo_icon {
    position: relative;
}
.promo_icon img {
    margin-top: 0px;
    width: 50px;
    height: auto;
    margin-right: 0px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 9;
    max-width: 100%;
}
.promo_icon::after {
    position: absolute;
    content: "";
    background: #f2ecec;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    left: 50%;
    margin-left: -40px;
    top: -22px;
    z-index: 1;
}
.promo-item h3 {
    display: block;
    margin-bottom: -5px;
    margin-top: 55px;
    text-transform: capitalize;
    font-size: 20px;
    line-height: 1.2em;
    color: #1a2940;
    font-weight: 500;
}
.promo-item p {
    margin-top: 23px;
    margin-bottom: 11px;
    color: #656565;
    line-height: 1.8em;
}
.promo-item:hover {
    -webkit-box-shadow: 0px 3px 6px 0px rgba(54, 54, 54, 0.06);
    -moz-box-shadow: 0px 3px 6px 0px rgba(54, 54, 54, 0.06);
    -o-box-shadow: 0px 3px 6px 0px rgba(54, 54, 54, 0.06);
    -ms-box-shadow: 0px 3px 6px 0px rgba(54, 54, 54, 0.06);
    box-shadow: 0px 3px 6px 0px rgba(54, 54, 54, 0.06);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
    background: #1a2940;
}
.promo-item:hover::before, .promo-item:hover::after {
    width: 50%;
}
.promo-item:hover .promo_icon img {
    -webkit-transform: rotateY(-190deg);
    -moz-transform: rotateY(-190deg);
    -ms-transform: rotateY(-190deg);
    -o-transform: rotateY(-190deg);
    transform: rotateY(-190deg);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
}
.promo-item:hover .promo_icon::after {
    background: #e73a3e;
}
.promo-item:hover h3, .promo-item:hover p {
    color: #fff;
}
.promo-item:hover h3, .promo-item:hover p {
    color: #fff;
}
.promo-item:hover::before, .promo-item:hover::after {
    width: 50%;
}

/* get in touch */
.quote-section .base-header {
    margin-top: 62px;
    padding-left: 70px;
    padding-right: 40px;
    padding-bottom: 32px;
    width: 100%;
    text-align: center;
}
.quote-section h3 {
    text-align: left;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
    line-height: 1.2em;
    color: #1a2940;
    text-transform: capitalize;
    font-weight: 700;
    margin: 0 0 15px;
}
.quote-section form {
    margin: 0;
}
.quote-section .contact-form-warper .con-field {
    width: 100%;
    line-height: 40px;
    margin-bottom: 20px;
    background: transparent;
    border: 1px solid #e2e6e5;
    padding: 0px 20px;
    color: #737373;
    border-radius: 3px;

}
.quote-section .contact-form-warper textarea {
    height: 140px;
    padding: 15px 20px !important;
    overflow: auto;
    vertical-align: top;
}
.quote-section .contact-form-warper #submit-contact {
    background: #e73a3e;
    padding: 20px 40px;
    line-height: 13px;
    font-weight: 500;
    border-radius: 32px;
    margin-top: 0px;
    float: left;
    text-align: center;
    text-transform: capitalize;
    border: none;
    color: #fff;
    font-size: 15px;
}
.quote_image img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
@media (max-width: 1199px){
.quote_image img {
    height: 578px;
}}
@media (max-width: 991px){
.quote_image img {
    display: none;
}}

/*  Footer CSS  */
.footer{
    background-color: #111111;
    color: #fff;
}
.footer-widget h3 {
    font-size: 22px;
    border-bottom: 1px solid #444;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.footer-widget ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
.footer-widget ul li {
    margin: 10px 0;
}
.footer-widget ul li a {
    text-decoration: none;
    transition: .4s;
}
.footer-widget ul li a:hover{
    letter-spacing: 1.5;
    color: red;
}
.footer-top{
    border-bottom: 1px solid #444;
}
.footer a{
    color: #fff;
}

/*  Footer Social  */
.widget-social{}
.widget-social ul{
    display: flex;
}
.widget-social ul li{
    padding: 10px 0;
    margin: 0 !important;
}
.widget-social ul li span {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
}
.widget-social ul li a {
    font-size: 20px;
    padding: 10px 10px;
}


.footer-copyright p{
    margin-bottom: 0;
}

.footer-contact{}
.footer-contact-item {
    margin-bottom: 20px;
}
.footer-contact-item span {
    display: inline-block;
    margin-right: 15px;
    font-size: 20px;
}
.footer-contact-item span i{}
.footer-contact-item a {
    text-decoration: none;
}
